---
/**
 * PostCard - Blog post preview component
 *
 * Features:
 * - Link prefetching on hover for instant navigation
 * - Semantic HTML structure
 */

import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const postUrl = `/blog/${post.slug}/`;
---

<li class="post-item">
  <FormattedDate date={post.data.date} className="post-date" />
  <div class="post-content">
    <a href={postUrl} class="post-title" data-astro-prefetch="hover">
      {post.data.title}
    </a>
    <p class="post-summary">{post.data.summary}</p>
    {post.data.tags.length > 0 && (
      <div class="post-tags">
        {post.data.tags.map((tag: string) => (
          <a href={`/tags/${tag}/`} class="tag-link">{tag}</a>
        ))}
      </div>
    )}
  </div>
</li>
